html, body, .capa {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

section {
    margin: 10%;
    padding-top: 72px;
    padding-bottom: 72px;
    overflow: hidden;
}

.parallax {
    background-image: url('../imagens/2.jpg');
    filter: blur(10px);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    position: relative;
    text-align: center;
    margin: -48% auto;
    background: black;
    opacity: 0.8;
}

#menu ul {
    width: 500px;
    margin:0 auto;
    list-style:none;
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
    padding: 25px 10px 25px 10px;
    display: inline-block;
    color: rgb(204, 204, 204);
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(138, 138, 138);
}

.capa {
    text-align: left;
    position: relative;
    margin: 45% auto;
    padding: 0px 0px 0px 20%;
    width: 1200px;
    color: aliceblue;
}

.capa h1{
    text-transform: uppercase;
    font-size: 65px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    letter-spacing: 10px;
    color: #FFFFFF;
}
.capa h5{
    margin-top: -40px;;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato Thin', sans-serif;
    letter-spacing: 3px;
    color: #FFFFFF;
}
.capa h1 span{
    color: #00D646;
}